<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <title>mf7cli world.</title>
    <link rel="stylesheet" href="/style/style.css"/>
    <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
    <script>
      window.onload = () => {
        twemoji.parse(document.body);
      }
    </script>
  </head>
  <body>
    <header>
      <h2>mf7cli world.</h2>
    </header>
    <div class="half-thumbnail"></div>
    <!-- <a href="https://unsplash.com/ja/s/%E5%86%99%E7%9C%9F/purple?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>の<a href="https://unsplash.com/@yogidan2012?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Daniele Levis Pelusi</a>が撮影した写真 -->
    <div style="display: flex;">
      <aside>
        😟
      </aside>
      <main>
        <a href="/">Home</a>
        <a href="/collections/tag/service">サービスを探す</a>
        <article>
          <h2>
            <%- title %>
          </h2>
          <div class="cards">
            <% services.forEach(serviceData => { %> 
            <div class="card">
              <img src="<%= serviceData.icon %>"/>
              <p>
                <a href="/collections/<%= serviceData.id %>"><%= serviceData.name %></a>
              </p>
              <p class="tags">
                <% for (let i = 0; i < serviceData.tags.length; i++) {
                  if (i > 1) break;
                %>
                <a class="tag" href="/collections/tag/<%= serviceData.tags[i] %>">#<%= serviceData.tags[i] %></a>
                <% } %>
              </p>
              <nav>
                <a href="/collections/<%= serviceData.id %>">詳細</a>
                <% serviceData.links.forEach(link => { %> 
                <a href="<%= link.url %>"><%= link.name %></a>
                <% }) %>
              </nav>
            </div>
            <% }); %>
          </div>
        </article>
      </main>
    </div>
  </body>
</html>